body {
    margin: 0px auto 0px auto;
    width: 800px;
    background-color: floralwhite;
}
@media screen and (max-width: 800px) {
    body {
        width: 90%;
    }

    ul {
        padding-left: 10%;
    }
}

#header {
    border-bottom: 4px solid;
    text-align: center;
}
#header > a {
    text-decoration: none;
    color: black;
}

#content {
    margin-top: 30px;
}

#footer {
    font-size: 87.5%;
    width: 100%;
    border-top: 4px solid;
    margin-top: 3.4286em;
    padding: 1.1429em;
    bottom: 0px;
}

/* product/hoge.html */

.product-img {
    width: 800px;
    border: solid 1px;
}
@media screen and (max-width: 800px) {
    .product-img {
        width: 100%;
    }
}

/* index.html */

#product-index > a {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}
@media screen and (max-width: 800px) {
    .card {
        height: 60px;
    }
}

.product-index-text {
    flex: 1;
}
.product-index-text > ul {
    list-style-type: none;
}

.product-index-title {
    font-size: 120%;
    color: black;
}
@media screen and (max-width: 800px) {
    .product-index-title {
        font-size: 90%;
    }
}

.product-index-img {
    width: 25%;
    max-width:100%;
}
@media screen and (max-width: 800px) {
    .product-index-img {
        width: auto;
        height: 100%;
    }
}

.product-index-description {
    font-size: 70%;
    color: gray;
}
@media screen and (max-width: 400px) {
    .product-index-description {
        display: none;
    }
}
