body {
    font-size: 1em;
    line-height: 1.5em;
    margin: 2em auto;
    max-width: 35em;
}

li {
    margin-bottom: 0.5em;
}

img {
    max-width: 35em;
    border: 1px solid;
}

#title {
    text-align: center;
}

#footer {
    bottom: 0;
    margin-top: 2em;
    text-align: right;
}