body {
    margin: 0px auto 0px auto;
    width: 800px;
    background-color: floralwhite;
}
@media screen and (max-width: 800px) {
    body {
        width: 90%;
    }

    ul {
        padding-left: 10%;
    }
}

.header {
    border-bottom: 4px solid;
    text-align: center;
}

.header > a {
    text-decoration: none;
    color: black;
}

#content {
    margin-top: 30px;
}

#footer {
    font-size: 87.5%;
    width: 100%;
    border-top: 4px solid;
    margin-top: 3.4286em;
    padding: 1.1429em;
    bottom: 0px;
}

/* product/hoge.html */

.product-img {
    width: 800px;
    border: solid 1px;
}
@media screen and (max-width: 800px) {
    .product-img {
        width: 100%;
    }
}

/* index.html */

.tab {
    display: flex;
    align-content: flex-start;
}

.column {
    flex: 1;
}

.card-link {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    padding: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    text-decoration: none;
}
@media screen and (max-width: 800px) {
    .card {
        height: 60px;
    }
}

.card-body {
    flex: 1;
}
.card-body > ul {
    list-style-type: none;
}

.card-title {
    color: black;
}
@media screen and (max-width: 800px) {
    .card-title {
        font-size: 90%;
    }
}

.card-img {
    height: 60px;
}
@media screen and (max-width: 800px) {
    .card-img {
        width: auto;
        height: 100%;
    }
}

.card-description {
    font-size: 70%;
    color: gray;
}
@media screen and (max-width: 400px) {
    .card-description {
        display: none;
    }
}
