<h2>Latest Blog Articles</h2>
<ul>
<% @articles.each do |item| %>
    <li>
        <a href='<%= item.link %>'><%= item.title %></a>
    </li>
<% end %>
</ul>

<h2>Products</h2>
<ul>
<% @products.each do |product| %>
    <li>
        <a href='<%= product.url %>'><%= product.title %></a>
    </li>
<% end %>
</ul>

<h2>More</h2>
<ul>
    <li><a href='https://articles.kuminecraft.xyz/'>Blog</a></li>
    <li><a href='https://twitter.com/genya0407'>Twitter</a></li>
    <li><a href='https://github.com/genya0407'>Github</a></li>
    <li><a href='https://reing.kuminecraft.xyz/'>質問箱</a></li>
    <li><a href='https://scrapbox.io/genya0407/Favorite_things'>Favorite things</a></li>
    <li><a href='https://www.amazon.co.jp/hz/wishlist/ls/2GMBDT6Z03819?type=wishlist&filter=unpurchased&sort=priority'>ほしいものリスト</a></li>
</ul>
