<div class='tab'>
    <div class='column'>
        <div class='header'>
            <h2>Qiita</h2>
        </div>
        $for(qiita_posts)$
            $body$
        $endfor$
    </div>

    <div class='column'>
        <div class='header'>
            <h2>Products</h2>
        </div>
        <% @products.each do |product| %>
        <a href='<%= product.url %>' class='card-link'>
            <div class='card'>
                <img src='<%= product.image_path %>' class="card-img"/>
                <div class='card-body'>
                    <ul>
                        <li class='card-title'><%= product.title %></li>
                        <li class='card-description'><%= product.technologies %></li>
                    </ul>
                </div>
            </div>
        </a>
        <% end %>
    </div>
</div>